


:root {
  --conversion-rate: 1.;
}


.social-icons{
  padding-left: 2vw;
}

#prof-title {
  padding: 0;
}

.card {
  margin: 2vh 1rem;
}

.navbar-toggler {
margin-left:43vw;
  }

.icon {
  font-size: 1.5rem; }