body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 7.5s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

#profile-picture img {
  position: absolute;
  margin-top: 3vh;
  right: 12vw;
  width: 17vw;
  z-index: 1;
  border-radius: 50%;
}

.custom_rounded {
  border-radius: 50%;
}

:root {
  --original-font-size-p: 16px;
  --original-font-size-h2: 24px;
  --original-font-size-h3: 20px;
  --original-font-size-prof_title: 18px;
  --original-font-size-a: 14px;

  --target-font-size-multiplier: 1.5;

  --conversion-rate-p: calc(var(--target-font-size-multiplier) * 1rem / var(--original-font-size-p));
  --conversion-rate-h2: calc(var(--target-font-size-multiplier) * 1rem / var(--original-font-size-h2));
  --conversion-rate-h3: calc(var(--target-font-size-multiplier) * 1rem / var(--original-font-size-h3));
  --conversion-rate-prof_title: calc(var(--target-font-size-multiplier) * 1rem / var(--original-font-size-prof_title));
  --conversion-rate-a: calc(var(--target-font-size-multiplier) * 1rem / var(--original-font-size-a));
}

p {
  font-size: calc(var(--conversion-rate-p) * var(--original-font-size-p));
}

h2 {
  font-size: calc(var(--conversion-rate-h2) * var(--original-font-size-h2));
}

h3 {
  font-size: calc(var(--conversion-rate-h3) * var(--original-font-size-h3));
}

#prof_title {
  font-size: calc(var(--conversion-rate-prof_title) * var(--original-font-size-prof_title));
}

a {
  font-size: calc(var(--conversion-rate-a) * var(--original-font-size-a));
}

h1 {

  color: #d9d9d9;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, .1), 1px 1px 1px rgba(0, 0, 0, .5);
  color: #d9d9d9;
  font-size: 2rem;
  margin-bottom: 0;
}

.card-header {
  font-family: 'Lato', sans-serif;
  font-size: calc(var(--conversion-rate) * 1.2rem);
}


.social-icons {
  margin-left: 12vw;

}

.social-icons a {
  text-decoration: none !important;
  color: #ffffff;
  opacity: 0.8;
  padding-left:2vw;
}

#prof-title {
  padding: 0;

  margin-bottom: 0px;

  margin-left: 2vw;
}

hr {
  border: none;
  width: 90%;
  height: 2px;
  margin-left: 2vw;
  border-bottom: 1px solid #1f1209;
  box-shadow: 0 20px 20px -20px #333;
}

.card {
  margin: 2vh 1rem;
}

footer {
  position: fixed;
  top: 0;
  padding-left: 90vw;
}
