

#profile-picture img {
  position: absolute;
  width: 20%;

}


:root {
  --conversion-rate: 1.5;
}

.social-icons{
  padding-left: 2vw;
}


.navbar-toggler {
margin-left:45vw;
  }

footer {
  padding-left: 90vw;
}